html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
button {
  font-size: 1.6rem;
}
.full-width {
  width: 100%;
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  grid-area: header;
  background: rgba(76,76,76,1);
background: -moz-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 19%, rgba(99,99,99,1) 25%, rgba(102,102,102,1) 27%, rgba(71,71,71,0.97) 39%, rgba(0,0,0,0.95) 54%, rgba(17,17,17,0.92) 66%, rgba(43,43,43,0.9) 78%, rgba(28,28,28,0.88) 91%, rgba(23,23,23,0.87) 96%, rgba(19,19,19,0.87) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(19%, rgba(89,89,89,1)), color-stop(25%, rgba(99,99,99,1)), color-stop(27%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,0.97)), color-stop(54%, rgba(0,0,0,0.95)), color-stop(66%, rgba(17,17,17,0.92)), color-stop(78%, rgba(43,43,43,0.9)), color-stop(91%, rgba(28,28,28,0.88)), color-stop(96%, rgba(23,23,23,0.87)), color-stop(100%, rgba(19,19,19,0.87)));
background: -webkit-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 19%, rgba(99,99,99,1) 25%, rgba(102,102,102,1) 27%, rgba(71,71,71,0.97) 39%, rgba(0,0,0,0.95) 54%, rgba(17,17,17,0.92) 66%, rgba(43,43,43,0.9) 78%, rgba(28,28,28,0.88) 91%, rgba(23,23,23,0.87) 96%, rgba(19,19,19,0.87) 100%);
background: -o-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 19%, rgba(99,99,99,1) 25%, rgba(102,102,102,1) 27%, rgba(71,71,71,0.97) 39%, rgba(0,0,0,0.95) 54%, rgba(17,17,17,0.92) 66%, rgba(43,43,43,0.9) 78%, rgba(28,28,28,0.88) 91%, rgba(23,23,23,0.87) 96%, rgba(19,19,19,0.87) 100%);
background: -ms-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 19%, rgba(99,99,99,1) 25%, rgba(102,102,102,1) 27%, rgba(71,71,71,0.97) 39%, rgba(0,0,0,0.95) 54%, rgba(17,17,17,0.92) 66%, rgba(43,43,43,0.9) 78%, rgba(28,28,28,0.88) 91%, rgba(23,23,23,0.87) 96%, rgba(19,19,19,0.87) 100%);
background: linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 19%, rgba(99,99,99,1) 25%, rgba(102,102,102,1) 27%, rgba(71,71,71,0.97) 39%, rgba(0,0,0,0.95) 54%, rgba(17,17,17,0.92) 66%, rgba(43,43,43,0.9) 78%, rgba(28,28,28,0.88) 91%, rgba(23,23,23,0.87) 96%, rgba(19,19,19,0.87) 100%);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.brand a {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  padding: 1rem;
}
.header-links a:hover {
  color: #ff8000;
}
.main {
  grid-area: main;
  background: rgba(226,226,226,1);
background: -moz-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 39%, rgba(209,209,209,1) 64%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(39%, rgba(219,219,219,1)), color-stop(64%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 39%, rgba(209,209,209,1) 64%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 39%, rgba(209,209,209,1) 64%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 39%, rgba(209,209,209,1) 64%, rgba(254,254,254,1) 100%);
background: linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 39%, rgba(209,209,209,1) 64%, rgba(254,254,254,1) 100%);
}
.footer {
  grid-area: footer;
  background: rgba(76,76,76,1);
background: -moz-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 19%, rgba(99,99,99,1) 25%, rgba(102,102,102,1) 27%, rgba(71,71,71,0.97) 39%, rgba(0,0,0,0.95) 54%, rgba(17,17,17,0.92) 66%, rgba(43,43,43,0.9) 78%, rgba(28,28,28,0.88) 91%, rgba(23,23,23,0.87) 96%, rgba(19,19,19,0.87) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(19%, rgba(89,89,89,1)), color-stop(25%, rgba(99,99,99,1)), color-stop(27%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,0.97)), color-stop(54%, rgba(0,0,0,0.95)), color-stop(66%, rgba(17,17,17,0.92)), color-stop(78%, rgba(43,43,43,0.9)), color-stop(91%, rgba(28,28,28,0.88)), color-stop(96%, rgba(23,23,23,0.87)), color-stop(100%, rgba(19,19,19,0.87)));
background: -webkit-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 19%, rgba(99,99,99,1) 25%, rgba(102,102,102,1) 27%, rgba(71,71,71,0.97) 39%, rgba(0,0,0,0.95) 54%, rgba(17,17,17,0.92) 66%, rgba(43,43,43,0.9) 78%, rgba(28,28,28,0.88) 91%, rgba(23,23,23,0.87) 96%, rgba(19,19,19,0.87) 100%);
background: -o-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 19%, rgba(99,99,99,1) 25%, rgba(102,102,102,1) 27%, rgba(71,71,71,0.97) 39%, rgba(0,0,0,0.95) 54%, rgba(17,17,17,0.92) 66%, rgba(43,43,43,0.9) 78%, rgba(28,28,28,0.88) 91%, rgba(23,23,23,0.87) 96%, rgba(19,19,19,0.87) 100%);
background: -ms-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 19%, rgba(99,99,99,1) 25%, rgba(102,102,102,1) 27%, rgba(71,71,71,0.97) 39%, rgba(0,0,0,0.95) 54%, rgba(17,17,17,0.92) 66%, rgba(43,43,43,0.9) 78%, rgba(28,28,28,0.88) 91%, rgba(23,23,23,0.87) 96%, rgba(19,19,19,0.87) 100%);
background: linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 19%, rgba(99,99,99,1) 25%, rgba(102,102,102,1) 27%, rgba(71,71,71,0.97) 39%, rgba(0,0,0,0.95) 54%, rgba(17,17,17,0.92) 66%, rgba(43,43,43,0.9) 78%, rgba(28,28,28,0.88) 91%, rgba(23,23,23,0.87) 96%, rgba(19,19,19,0.87) 100%);
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
/* Home Screen */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 2rem;
  font-weight: bold;
}
.product-image {
  max-width: 34rem;
  max-height: 34rem;
}
.product-rating {
  margin-bottom: 1rem;
}
/* Reviews */
ul.review {
  list-style-type: none;
  padding: 0;
}
.review li {
  margin: 1rem;
  margin-bottom: 2rem;
}
.review li > div {
  margin: 0.5rem;
}

/* Rating */
.rating span {
  color: #ffb901;
  font-size: 1.8rem;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}
a > .rating > span:last-child {
  color: #0000ff;
}

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
  background-color: white !important;
}
.pooch-logo {.height: auto;
width: auto;
max-height: 15px;
max-width: 250px;}
.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

/* Product Details */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image {
  flex: 2 1 60rem;
}
.details-image img {
  max-width: 60rem;
  width: 100%;
}
.details-info {
  flex: 1 1 30rem;
}
.details-action {
  flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.back-to-result {
  padding: 1rem;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background: linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 19%, rgba(99,99,99,1) 25%, rgba(102,102,102,1) 27%, rgba(71,71,71,0.97) 39%, rgba(0,0,0,0.95) 54%, rgba(17,17,17,0.92) 66%, rgba(43,43,43,0.9) 78%, rgba(28,28,28,0.88) 91%, rgba(23,23,23,0.87) 96%, rgba(19,19,19,0.87) 100%);
    color: white;
}
.button.secondary {
  background: linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 19%, rgba(99,99,99,1) 25%, rgba(102,102,102,1) 27%, rgba(71,71,71,0.97) 39%, rgba(0,0,0,0.95) 54%, rgba(17,17,17,0.92) 66%, rgba(43,43,43,0.9) 78%, rgba(28,28,28,0.88) 91%, rgba(23,23,23,0.87) 96%, rgba(19,19,19,0.87) 100%);
    color: white;
}
.text-center {
  text-align: center;
}
/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 60rem;
}
.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #282c34 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/* Products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}
.profile-orders {
  flex: 3 1 60rem;
}

/* admin */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 45rem;
  justify-content: space-between;
  align-items: center;
}
.filter input,
.filter button,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}
.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color: #c0c0c0;
}
